.shuffle-button {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    /* padding: 10px 20px; */
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: white;
    /* border: none;
    border-radius: 5px; */
    cursor: pointer;
    z-index: 10;
    /* Ensure the button is on top */
}

.shuffle-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}