@font-face {
    font-family: 'Amatic-SC';
    src: url('../public/fonts/AmaticSC-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../public/fonts/AmaticSC-Regular.woff') format('woff');
    /* Older Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('../public/fonts/Dosis-Regular.woff2') format('woff2'), url('../public/fonts/Dosis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Amatic-SC', sans-serif;
    /* Use the custom font as a fallback */
    height: 100%;
    margin: 0;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Amatic SC', cursive;
}

h1,
h2,
h3 {
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
}

.cozy-title {
    font-family: 'Amatic SC', cursive;
}

.app-container {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f6ece2; */
    background-color: #FAF3E0;
    /* color: #2c3a28; */
    color: #4E4E4E;
    /* #4E4E4E; */
    padding: 0 20px;
}

.content-container {
    width: 100%;
    max-width: 1400px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    flex: 0.3;
    /* Reduced width for the ambiance player section */
}

.image-container {
    width: 120%;
    /* height: 95%; */
    padding-top: 23px;
    margin-left: 17px;
    /* Increased width for the image section */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img.centered-image {
    max-width: 100%;
    max-height: 100vh;
}


/* .shuffle-button {
    position: absolute;
    top: 100px;
    left: 54%;
    transform: translateX(-50%);
    /* padding: 10px 20px; */


/* color: #4c6346;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shuffle-button:hover {
    color: #2c3a28;
}

.shuffle-button-icon:hover {
    color: #2c3a28;
}

.shuffle-button-icon {
    /* position: absolute; */


/* font-size: 18px;
    color: black;
    font-family: 'Dosis', sans-serif;
} */

.shuffle-button-container {
    position: absolute;
    top: 110px;
    left: 54%;
    transform: translateX(-50%);
    z-index: 10;
    font-family: 'Dosis', sans-serif;
}

.shuffle-button {
    color: #D27D56;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: transparent;
}

.shuffle-button .dropdown-toggle:hover,
.shuffle-button .dropdown-toggle:focus {
    color: #2c3a28;
}

.shuffle-button:hover,
.shuffle-button:focus {
    color: #2c3a28;
}

.shuffle-button-icon {
    font-size: 18px;
    color: #2c3a28;
    font-family: 'Dosis', sans-serif;
    padding-left: 5px;
}

.shuffle-button-icon:hover,
.shuffle-button-icon:focus {
    color: #2c3a28;
}

.dropdown-menu {
    color: #FAF3E0 !important;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    /* background-color: #f6ece2 !important; */
}

.dropdown-item {
    color: #4E4E4E !important;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #e9d0b0 !important;
    color: #4E4E4E !important;
}

.dropdown-toggle {
    color: #4c6346;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    color: #2c3a28;
}

.display-2.smaller-text {
    font-size: 70px;
    font-weight: 300;
    line-height: 1.2;
    color: #D27D56;
}

.modal {
    overflow: hidden;
}

.modal-header {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.custom-navbar {
    background-color: #FAF3E0;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}

.custom-navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-navbar .navbar-nav .nav-item {
    margin-left: 20px;
    color: #2c3a28;
    margin-right: 20px;
}

.custom-navbar .navbar-nav .nav-link {
    font-size: 20px;
    color: #2c3a28;
    font-family: 'Dosis', sans-serif;
}

.modal-content {
    /* background: #f6ece2; */
    background-color: #e9d0b0;
    color: #2c3a28;
}

.modal-header {
    /* background: #e9d0b0; */
    background-color: #e8cead;
    /* color: #4E4E4E; */
    color: #D27D56;
    font-weight: bolder;
}

.modal-body {
    /* background: #FAF3E0; */
    background-color: #FAF3E0;
    color: #4E4E4E;
}

.modal-body a {
    color: #D27D56;
    text-decoration: none;
}

body.modal-open {
    overflow: 0 !important;
    padding-right: 0 !important;
}

.iframe {
    border-radius: 12px;
    border: none;
    width: 100%;
    height: 351px;
}

.ambiance-player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 28px;
}

.ambiance-header {
    display: flex;
    align-items: center;
}

.ambiance-title {
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-family: 'Dosis', sans-serif;
}

.play-pause-icon {
    font-size: 13px;
}

.volume-control {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.volume-icon {
    margin-right: 5px;
    font-size: 12px;
}

.volume-range {
    width: 155px;
    margin-left: 5px;
}

.react-range-track {
    background: #2a2a2a;
}

.react-range-thumb {
    height: 12px;
    width: 12px;
    /* background-color: white; */
    background-color: #A3B18A;
    border-radius: 50%;
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f6ece2;
    color: #2c3a28;
    text-align: right;
    overflow: hidden;
}


/* Dark Mode Styles */

.dark-mode body {
    background-color: #3B423A;
    /* #2b2b28; */
    /* #2c3a28; */
    color: #DAD5C3;
}

.dark-mode .app-container {
    background-color: #3B423A;
    /* background-color: #2B2B2B; */
    color: #DAD5C3;
}

.dark-mode .custom-navbar {
    /* background-color: #2c3a28; */
    background-color: #3B423A;
}

.dark-mode .custom-navbar .navbar-brand {
    color: #f6ece2;
}

.dark-mode .custom-navbar .navbar-nav .nav-item {
    color: #f6ece2;
}

.dark-mode .custom-navbar .navbar-nav .nav-link {
    color: #f6ece2;
}

.dark-mode .shuffle-button {
    color: #e9d0b0;
}

.dark-mode .shuffle-button-icon {
    color: #e9d0b0;
}

.dark-mode .modal-content {
    background: #565d38;
    color: #f6ece2;
}

.dark-mode .modal-header {
    background: #565d38;
    color: #f6ece2;
}

.dark-mode .modal-body {
    background: #565d38;
    color: #f6ece2;
}

.dark-mode .modal-body a {
    color: #db9b52;
    text-decoration: none;
}

.dark-mode .dropdown-menu {
    color: #f6ece2 !important;
    /* Lighter text color for contrast */
    background-color: #4c6346;
    /* Darker background to fit the dark mode */
}

.dark-mode .dropdown-item {
    color: #f6ece2 !important;
    background-color: transparent;
}

.dark-mode .dropdown-menu .dropdown-item:hover,
.dark-mode .dropdown-menu .dropdown-item:focus {
    /* background-color: #4c6346 !important; */
    background-color: rgb(70, 92, 63) !important;
    /* Slightly lighter background on hover */
    color: #f6ece2 !important;
}

.dark-mode .dropdown-toggle {
    color: #f6ece2 !important;
}

.dark-mode .dropdown-toggle:hover,
.dark-mode .dropdown-toggle:focus {
    color: #dcd0bb;
    /* Softer color on hover */
}

.dark-mode .react-range-track {
    background: #f6ece2;
}

.dark-mode .react-range-thumb {
    background-color: #e8caab;
    ;
    /* background-color: #; */
}

.dark-mode .footer {
    background-color: #3B423A;
    color: #f6ece2;
}

.dark-mode .display-2.smaller-text {
    color: #D4A373;
}

@media (min-width: 768px) and (max-width: 1181px) {
    /* Adjustments for .content-container */
    .content-container {
        margin-top: 0;
    }
    /* Adjustments for .content-section */
    .content-section {
        margin-top: 0;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Adjustments for .image-container */
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Adjustments for .centered-image */
    img.centered-image {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    .modal {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Adjustments for .web-brand */
    .web-brand {
        width: 100%;
        margin-left: 30px;
    }
    .display-2.smaller-text {
        font-size: 50px;
    }
    /* Adjustments for .playlist */
    .playlist {
        max-width: 100%;
        margin-left: 10px;
    }
    /* Adjustments for .playlist .iframe */
    .playlist .iframe {
        height: 351px;
    }
    .ambiance-player {
        margin: 40px 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .ambiance-title {
        font-size: 16px;
        text-align: left;
        margin: 0px;
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .play-pause-icon {
        font-size: 12px;
        margin-right: 5px;
    }
    .volume-control {
        margin-top: 3px;
        width: 150px;
    }
    .volume-range {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .custom-navbar {
        padding: 20px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
    }
    .nav-item {
        margin: 10px 0;
    }
    .content-container {
        flex-direction: column;
    }
    .image-container {
        width: 100%;
        margin-bottom: 20px;
    }
    .content-section {
        width: 100%;
    }
    img.centered-image {
        max-width: 100%;
    }
    .shuffle-button {
        width: 150px;
    }
}